{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "Firefox ESR"],
      },
      "useBuiltIns": true,
      "modules": false,
      "debug": false
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "lodash",
    "glamorous-displayname"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "presets": [
        "react-optimize",
      ],
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
